<!DOCTYPE html>
<html>
<head>
<title>Buddy Up</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>
<header>
  <h1>Buddy Up</h1>

</header>

<nav>
  <ul class="webNav">
     <li><a href="index">Home</a></li>
     <li><a href="Forums">Forums</a></li>
     <li><a href="Buddy">Buddy</a></li>
     <li id="navRegister"><a href="Register">Register</a></li>
     <li class="active" id="navLogin"><a href="Login">Login</a></li>
   </ul>
</nav>
<div class="pageContainer">

  <% if (message.length > 0) { %>
      <div class="alert-login"><%= message %></div>
  <% } %>

  <div class="loginContainer">

    <h3>Login</h3>

    <form class="loginForm" action="/Login" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>

      <input type="submit" value="Login">
    </form>

    <div class="orRegister">
      <p>Or Register using:</p>
      <a href="Register">Register</a>
    </div>

  </div>

</div>

<footer>
  <h2>Buddy Up</h2>

  <ul class="footerLinksOne">
    <li><a href="index">Home</a></li>
    <li><a href="Forums">Forums</a></li>
    <li><a href="Buddy">Buddy</a></li>
  </ul>
</footer>

</body>
</html>
